[user]
    name = Raphael Zimmermann
    email = mail@raphael.li
[include]
    path = .gitlocal
[core]
    whitespace = warn
    excludesfile = ~/.gitignore
[alias]
    a = add --patch
    st = status
    co = commit
    unstage = reset HEAD --
    l = log --oneline --graph --decorate
    amend = commit --amend --no-edit
[commit]
    template = ~/.gitmessage
[pull]
	ff = only
[init]
	defaultBranch = main
