[user]
    name = Raphael Zimmermann
    email = mail@raphael.li
[include]
    path = .gitlocal
[core]
    whitespace = warn
    excludesfile = ~/.gitignore
    autocrlf = input
[alias]
    a = add --patch
    st = status
    co = commit
    unstage = reset
    l = log --oneline --decorate
    amend = commit --amend --no-edit
    uncommit = reset --soft HEAD~1
    sla = log --oneline --decorate --graph --all
    new = l main..HEAD
    missing = l HEAD..main
[commit]
    template = ~/.gitmessage
[pull]
    ff = only
[merge]
    conflictstyle = diff3
[init]
    defaultBranch = main
[push]
    default = current
    autoSetupRemote = true
[rebase]
    autosquash = true
    autoStash = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = true      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
