#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Visual Studio Code
Comment=Vscode
Exec=~/apps/VSCode-linux-x64/bin/code
Icon=~/apps/VSCode-linux-x64/resources/app/resources/linux/code.png
