#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Whatsapp
Exec=google-chrome-stable --app="https://web.whatsapp.com"
Icon=whatsapp
